@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<body>
    <p>Enter how to play game here</p>
    <p>
        <audio controls autoplay style="display:none">
            <iframe src="../AudioFiles/HowToPlayPage.mp3" allow="autoplay" style="display:none" id="iframeAudio"></iframe>
            <source src="../AudioFiles/HowToPlayPage.mp3" type="audio/mpeg">
        </audio>
    </p>


</body>
