@{
    ViewBag.Title = "Home Page";
}


<div style="background-image:url(https://vignette.wikia.nocookie.net/classic-quests/images/2/25/Dark-Portal.jpg/revision/latest?cb=20130917210100);width:1080px;height:900px;background-size:auto;background-repeat:no-repeat;">

</div>


